.navegation{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #313131;
    margin-bottom: 0;
}

#logo{
    max-width: 15%;
}

.Navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    padding: 0 50px;
}

.Navbar li{
    list-style: none;
}

.Navbar a{
    text-decoration: none;
    color: var(--preto);
}

.Navbar h1{
    text-align: left;
    margin: 0;
    padding: 10px 15px;    
}
